<%- include('./partials/top.ejs') %>

<p>this is about page </p>



<% if (users) { %>
<% users.forEach(function(user) { %>
    <div
        style="margin: 30px 200px; border: 1px solid black; border-radius: 8px; padding: 10px;font-family: sans-serif;">
        <%= user.name %>
            <br>
        <%= user.email %>
            <br>
    </div>
    <% }); %>
<% } %>

<%- include('./partials/foot.ejs') %>